/* Основной цвет текста #757575 */
/* Вторичный цвет текста #212121 */
/* Дополнительный цвет текста (заголовок, футер) #FFFFFF */

/* Цвет фона #FFFFFF */
/* Вторичный цвет фона #F5F4FA */

/* Акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --second-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.71;
}

/* Hover */

.item-hover-focus:hover,
.item-hover-focus:focus {
  color: var(--accent-color);
}

/* Убираем точки в списке */

.social:hover,
.social:focus {
  color: var(--accent-color);
}
.social {
  list-style: none;
}

/* logo nav */
.link-decoration {
  text-decoration: none;
}

.first-logo {
  color: var(--accent-color);
  font-style: normal;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.second-logo {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.footer-logo {
  color: #ffffff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

/* Навигация сайта */

.site-nav .link {
  text-decoration: none;
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.link-1:hover,
.link-1:focus {
  color: var(--accent-color);
}

.link-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.link-name:hover,
.link-name:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}

/* Кнопка */
.button {
  color: var(--second-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
}

/* Адресс в шапке */

.address-header {
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.address-header:hover,
.address-header:focus {
  color: var(--accent-color);
}

/* Герой */

.hero-title {
  color: var(--second-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: black;
}

/* .hero {
  background-image: url(/image/hero-section/hero-img-bcg.jpg);
  width: 1600px;
  height: 600px;
}
.hero .second {
  background: rgba(47, 48, 58, 0.8);
} */

/* О нас */

.about-us .title {
  color: var(--title-text-color);
}

/* Чем мы занимаемся */

.features-title {
  color: var(--title-text-color);
}
.features-text {
  color: var(--second-text-color);
}

/* Наша команда */

.our-team-title {
  color: var(--title-text-color);
}
.our-team .title {
  color: var(--title-text-color);
}

/* Постоянные клиенты */

.clients .clients-item:hover,
.clients .clients-item:focus {
  color: var(--accent-color);
}
.clients-title {
  color: var(--title-text-color);
}

/* Футер адресс */

.address-title {
  color: var(--second-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.address-title:hover,
.address-title:focus {
  color: red;
  color: var(--accent-color);
}

.address-footer {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.address-footer:hover,
.address-footer:focus {
  color: var(--accent-color);
}

/* Действие */
.act-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.footer {
  background-color: #2f303a;
}

.icon:hover,
.icon:focus {
  background-color: var(--accent-color);
}

/*!!!! Страницы Портфолио!!!! */

ul {
  list-style-type: none;
}

.portfolio-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.filter:hover,
.filter:focus {
  background-color: var(--accent-color);
}

.portfolio-pre-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  /* color: var(--second-text-color); */
}

.item-link:hover,
.item-link:focus {
  background-color: var(--accent-color);
}
