/* Основной цвет текста #757575 */
/* Вторичный цвет текста #212121 */
/* Дополнительный цвет текста (заголовок, футер) #FFFFFF */

/* Цвет фона #FFFFFF */
/* Вторичный цвет фона #F5F4FA */

/* Акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

.body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}
.list > social {
  list-style: none;
}

/* logo nav */

.logo {
  color: var(--accent-color);
}
.logo-2 {
  color: #000000;
}

/* site-nav */

.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* color title */

.section-title {
  color: var(--title-text-color);
}
