/* Основной цвет текста #757575 */
/* Вторичный цвет текста #212121 */
/* Дополнительный цвет текста (заголовок, футер) #FFFFFF */

/* Цвет фона #FFFFFF */
/* Вторичный цвет фона #F5F4FA */

/* Акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --second-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
}

/* Убираем точки в списке */

.list {
  list-style: none;
}
.social 
.social:hover,
.social:focus {
    color: var(--accent-color);
}
.social {
    list-style: none;
}

/* logo nav */

.logo {
  color: var(--accent-color);
}
.logo-2 {
  color: #000000;
}
.logo-3 {
  color: #FFFFFF;
}

/* Навигация сайта */

.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Адресс в шапке */

.address-header {
    color: #757575;
}
.address-header:hover,
.address-header:focus {
    color: var(--accent-color);
}

/* Герой */

.hero-title {
  color: var(--second-text-color);
}

/* О нас */

.about-us .title {
  color: var(--title-text-color);
}

/* Чем мы занимаемся */

.features-title {
  color: var(--title-text-color);
}
.features-text {
  color: var(--second-text-color);
}

/* Наша команда */

.our-team-title {
  color: var(--title-text-color);
}
.our-team .title {
  color: var(--title-text-color);
}

/* Постоянные клиенты */

.clients .clients-item:hover,
.clients .clients-item:focus {
    color: var(--accent-color);
}
.clients-title {
  color: var(--title-text-color);
}

/* Футер адресс */

.address-title {
    color: var(--second-text-color);
}
.address-footer {  
    color: rgba(255, 255, 255 , 0.6);
}
.address-footer:hover,
.address-footer:focus {
    color: var(--accent-color);
}


/* Действие */
.act-title {
    color: var(--second-text-color);
}

.footer {
    background-color: #2F303A;
}

.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
}

}